# App data
applications
bin
fdb
run
runtimes
store
themes

# Build dirs
build
dist

# Python
__pycache__
venv

# Temporary, deal with later
docs
manifest.xml
manifests

# Debris
[Tt]humbs.db
.DS_Store
